* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(184deg, #8754ff, #8e2de2);
}
html,
body {
  height: 100%;
  margin: 0;
}

.centered-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: white;
  font-size: 30px;
  font-family: bold;
}
.quix-container {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: white;
}

.quiz {
  margin-top: 20px;
  margin-bottom: 30px;
}

.quiz a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: white;
}

.quiz a:hover {
  background: linear-gradient(
    to right,
    pink,
    purple
  ); /* Gradient from left to right */
  color: #fff;
}
